@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.leftSide {
  height: 100vh;
  width: 200px;
  background: #fff;
}

.inside {
  font-family: fantasy;
  width: 1500px;
  height: 100vh;
  display: flex;
  color: #470c12;
}

.insideLeft {
  width: 50%;
  background-color: #f1d8ce;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.insideRight {
  width: 50%;
  background-color: #910125;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.insideRight img {
  width: 500px;
  height: 750px;
}

.portfolio {
  margin: 0;
  height: 100em;
  width: 300px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.job {
  display: flex;
  color: #344a3b;
  font-family: 'Pacifico', cursive;
  font-size: large;
  align-self: start;
  justify-content: start;
}

.name {
  display: flex;
  align-self: center;
  font-size: 80px;
  justify-content: center;
}

.head {
  font-size: xx-large;
  align-self: start;
}

.container {
  display: flex;
  flex-direction: row;
}

.button {
  width: 100%;
  margin: 20px;
}

.btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #f1d8ce;
  background-color: #910125;
  padding: 10px;
  margin-left: 20px;
}

.rightSide {
  height: 100vh;
  width: 200px;
  background: #fff;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #f1d8ce;
}

ul {
  margin-left: 60px;
}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: fantasy;
  color: #470c12;
  padding: 0 20px;
}

ul li a:hover {
  color: #910125;
}
